// https://codepen.io/davidmunro/pen/xxxeoOo
// Accordion.js

.accordion-item {
  background: mistyrose;
  // width: 1100px;
  width: 100%;
  // columns: 5;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  display: flex;
  flex-flow: column;
  font-weight: 600;
  cursor: pointer;
  color: #666;
  padding: 0.5em 1.5em;
  // border: solid 1px #ccc;
  //   border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &.open {
    color: black;
  }
  @media screen and (min-width: 768px) {
    // display: block;
    flex-flow: row;
  }
}

.accordion-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;

  &:hover,
  &.open {
    color: black;
  }
  &.open {
    border-top: 0;
    border-bottom: 6px solid;
  }
}

.accordion-content {
  // padding: 1em 1.5em;
}

// AccordionVoorraad

.accordion-voorraad-item {
  // background: mistyrose;
  // width: 1100px;
  width: 100%;
  // columns: 5;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-voorraad-item.collapsed {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-voorraad-title {
  // font-weight: 600;
  cursor: pointer;
  // color: #666;
  // padding: 0.5em 1.5em;
  // border: solid 1px #ccc;
  // border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &.open {
    color: black;
  }
}

.accordion-voorraad-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;

  &:hover,
  &.open {
    color: black;
  }
  &.open {
    border-top: 0;
    border-bottom: 6px solid;
  }
}

.accordion-voorraad-content {
  li {
    border: 1px solid silver;
  }
  // padding: 1em 1.5em;
}

// AccordionNav.js

.accordion-nav-title:hover {
  background-color: rgba(255, 213, 213, 0.15);
}

// .list-links .list-links__link:hover,
// .list-links .list-links__link:focus {
//   background-color: rgba(255, 213, 213, 0.15);
// }

.accordion-nav-item {
  // background: mistyrose;
  // width: 1100px;
  width: 100%;
  // columns: 5;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-nav-item.collapsed {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-nav-title {
  // font-weight: 600;
  cursor: pointer;
  color: white;
  padding: 12px;
  // border: solid 1px #ccc;
  //   border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  // &:hover {
  //   color: #fba7a7;
  // }
}

.accordion-nav-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid currentColor;
  padding: 0;

  &:hover,
  &.open {
    color: black;
  }
  &.open {
    border-top: 0;
    border-bottom: 6px solid;
  }
}

// .nav-arrow-right {
//   width: 0;
//   height: 0;
//   border-left: 6px solid transparent;
//   border-right: 6px solid transparent;
//   border-top: 6px solid currentColor;
//   color: white;
//   margin-right: 10px;
// }

.accordion-nav-content {
  // padding: 0.625rem;
  li {
    margin: 0;
    border-bottom: 0;
  }
}

.item-links {
  // background-color: rgba(255, 213, 213, 0.15);
  li {
    &:hover {
      background-color: rgba(255, 213, 213, 0.15);
    }
    a {
      font-weight: 300;
      color: white !important;
      text-decoration: none !important;
      display: block;
      padding: 0.625rem;
    }
  }
}
