.bladgroenten,
.bollen,
.knollen,
.koolsoorten,
.peulvruchten,
.slasoorten,
.stengelgewassen,
.vruchtgewassen,
.wortels {
  color: $groen;
}
.kruiden {
  color: #808000;
}
.specerijen {
  color: red;
}
.paddenstoelen {
  color: #3d4447;
}
.noten {
  color: $bruin;
}
.kiemen {
  color: gray;
}
.granen {
  color: darkgray;
}
.fruit {
  color: #37da19;
}
.citrusvruchten {
  color: #d0c032;
}
.zuivel,
.ei {
  color: #e4a703;
}
.import {
  color: #ff9a01;
}
.exoten {
  color: #e64b97;
}
.vlees {
  color: #c91669;
}
.vis {
  color: #00ceff;
}

.bg-groente {
  background-color: #c6f6d5;
}

.bg-zuivel {
  background-color: #f5f7d3;
}

.bg-vlees {
  background-color: #fac6de;
}
.bg-vis {
  background-color: #d0f2fa;
}

.bg-red {
  background-color: red !important;
}
