.form-zoekrecept {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 0;
  // margin-bottom: 15px;
  padding-bottom: 15px;
  .form-zoekrecept__input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border-left: 0;
    border-style: none;
    border: 0.5px solid lightgray;
    // background-clip: padding-box;
    // border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.hidden {
  // visibility: hidden;
  display: none;
}

ul.search-box__results {
  width: calc(100% - 20px);
  margin: auto; // 18px
  li:first-child {
    // padding-top: 20px;
  }
  li:last-child {
    padding-bottom: 20px;
  }
  li {
    padding-top: 10px;
    font-size: 21px;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
  }
}

// vidly

.showing {
  text-align: center;
}

.common-list-group {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  columns: 5;
  max-width: 1024p;
  margin: auto;
  li {
    // width: calc(20% - 25px);
    font-size: 16px;
    list-style: none;
    padding: 0.25em;
    // padding-bottom: 0;
  }
  li.active {
    background: #007bff;
    color: white;
  }
}

.searchbox-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  input.search {
    width: 25%;
    margin-bottom: 0;
    margin-top: 0;
  }
  ul.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-bottom: 0;
  }
}

form.recipe-form {
  columns: 2;
  .input-field {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border-left: 0;
    border-style: none;
    border: 0.5px solid lightgray;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.form-group {
  p {
    color: $brand-color;
  }
}

// input.form-control {
//   background-color: transparent !important;
//   border: 1px solid #9bddab;
// }

.table-products {
  table-layout: fixed;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
  border-collapse: collapse;
  colgroup {
    col.col-1 {
      width: 50px;
    }
    col.col-2 {
      width: 300px;
    }
    col.col-3 {
      width: 100px;
    }
    col.col-4 {
      width: 150px;
    }
    col.col-5 {
      width: 150px;
    }
    col.col-6 {
      width: 150px;
    }
    col.col-7 {
      width: 50px;
    }
    col.col-8 {
      width: 50px;
    }
  }
  th,
  td {
    padding: 0.75rem 0 0.75rem 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    // padding-left: 0;
  }
  thead th {
    padding: 0.75rem 0 0.75rem 0;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  // th, .td {
  //     padding: 0.75rem;
  //     vertical-align: top;
  //     border-top: 1px solid #dee2e6;
  // }

  .so {
    display: block;
    width: 1rem;
    height: 24px;
  }
  .so-heart {
    background: url(/public/img/icons/heart.svg) center no-repeat;
  }
  .so-heart-o {
    background: url(/public/img/icons/heart-o.svg) center no-repeat;
  }
  .so-bell {
    background: url(/public/img/icons/bell.svg) center no-repeat;
  }
  .so-bell-o {
    background: url(/public/img/icons/bell-o.svg) center no-repeat;
  }
}

.placeholder {
  color: #687a86;
  line-height: 30px;
  font-size: 15px;
  position: absolute;
  top: 7px;
  left: 10px;
  right: 9px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: text;
}
