/*------------------------------------*\
  #NAVIGATION-NAV
\*------------------------------------*/

.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  min-height: calc(100vh - 250px);
}

.nav-add {
  position: absolute;
  top: 36px;
  width: 100vw;
  @media (min-width: $on-palm) {
    width: 400px;
  }
}

.add-panel__open {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s 0.1s;
}

.navbox {
  background: white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.logo {
  font-weight: 400;
  position: relative;
  z-index: 100;
  @media (min-width: $on-tablet) {
    float: left;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.navbox-logo {
  font-weight: 400;
  font-size: 36px;
  padding-top: 15px;
  z-index: 100;
  position: relative;
  span.het {
    font-size: 1em * 0.9;
    letter-spacing: 0.03em;
    font-weight: 500;
  }
  span.spatie {
    letter-spacing: -0.3em;
  }
}

.navbox-panel {
  // @media (max-width: 1023px) {
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  // background-color: #fb263b;
  // background-image: linear-gradient(#f14300, #fb263b);
  width: 100%;
  height: 100%;
  list-style: none;
  transition: all 0.2s ease-in-out;
  padding-top: 0;
}

.nav-add {
  .hairline {
    height: 1px;
    margin-top: 30px;
    margin-bottom: 24px;
    margin-right: 125px;
    border-color: #e2e8f0;
    border-top-width: 1px;
  }
}

.navbar {
  float: none;
  width: 100%;
  padding-top: 2em;
  background-color: #f7fafc;
  @media (min-width: $on-tablet) {
    padding-top: 0;
    background-color: white;
  }
}

// .nav-link.active,
.nav-link:hover {
  border-bottom: 1px solid;
  border-bottom-color: #e74c3c;
  color: black;
  text-decoration: none;
  transition: 0.1s;
}

.nav-item {
  padding-left: 20px;
  margin-top: 1em;
  font-size: 24px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  @media screen and (min-width: $on-tablet) {
    float: left;
    margin-top: 0;
    padding-left: 21px;
    padding-top: 13px;
    font-size: 19px;
    text-align: left;
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.nav-user {
  color: silver;
}
.nav-kookschrift {
  margin-top: 10px;
  font-size: 24px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-left: 20px;
  @media screen and (min-width: $on-tablet) {
    padding-left: 0;
    padding-top: 10px;
    margin-top: 0;
    font-size: 19px;
    float: right;
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.nav-me {
  margin-top: 10px;
  font-size: 24px;
  padding-left: 20px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  @media screen and (min-width: $on-tablet) {
    margin-top: 0;
    font-size: 19px;
    float: right;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 30px;
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.nav-name {
  position: relative;
  margin-left: 6px;
  &::before {
    content: "";
    display: block;
    width: 4rem;
    height: 100%;
    position: absolute;
    left: -27px;
    top: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(/img/icons/person.svg) center no-repeat;
    background-size: 30px;
    opacity: 0.5;
    @media screen and (min-width: $on-tablet) {
      background-size: 28px;
    }
  }
}

.hide__input {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.show__input {
  opacity: 1;
  visibility: visible;
  display: block;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.hamburger-box {
  position: absolute;
  right: 20px;
  top: 38px;
  @media (min-width: 768px) {
    top: 44px;
  }
}

.hamburger {
  padding: 9px 10px;
  display: block;
  float: right;
  position: absolute;
  top: -11px; // 32px;
  right: 5px; // 15px;
  background-color: transparent;
  margin: 0; // 20px 0 20px 36px
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 20;
  @media (min-width: $on-tablet) {
    // right: 40px;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.25s 0.1s;
  transition: all 0.25s 0.1s;
}

// first child

.hamburger.navbox--menu-open span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.navbox--menu-open span:first-child,
.navbox--menu-open .hamburger span:nth-child(3) {
  top: 9px;
}

.hamburger span:first-child {
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.hamburger.navbox--menu-open span {
  background-color: white;
}
.navbox--inverted .hamburger span {
  background-color: white;
}

// second child

.hamburger span:nth-child(2) {
  bottom: 1px;
}

.hamburger.navbox--menu-open span:nth-child(2) {
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.hamburger span:nth-child(2) {
  bottom: 1px;
}

// third child

.hamburger.navbox--menu-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.navbox--menu-open span:first-child,
.hamburger.navbox--menu-open span:nth-child(3) {
  top: 8px;
}
.hamburger span:nth-child(3) {
  top: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.kookschrift-counter {
  position: relative;
  right: -8px;
  top: 4px;
  height: 25px;
  width: 25px;
  color: #fff;
  background: #303030;
  display: inline-block;
  font-size: 12px;
  border-radius: 100%;
  transform: scale(1);
  @media screen and (min-width: $on-tablet) {
    top: 6px;
    height: 24px;
    width: 24px;
  }
}

.kookschrift-counter__count {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
