// hollow dot

.hollow-dots-spinner,
.hollow-dots-spinner * {
  box-sizing: border-box;
}

.hollow-dots-spinner {
  height: 15px;
  width: calc(30px * 3);
}

.hollow-dots-spinner .dot {
  width: 15px;
  height: 15px;
  margin: 0 calc(15px / 2);
  border: calc(15px / 5) solid #ff1d5e;
  border-radius: 50%;
  float: left;
  transform: scale(0);
  animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
}

.hollow-dots-spinner .dot:nth-child(1) {
  animation-delay: calc(300ms * 1);
}

.hollow-dots-spinner .dot:nth-child(2) {
  animation-delay: calc(300ms * 2);
}

.hollow-dots-spinner .dot:nth-child(3) {
  animation-delay: calc(300ms * 3);
}

@keyframes hollow-dots-spinner-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visable {
  opacity: 1;
  transition: opacity 500ms;
}

.unvisable {
  opacity: 0.01;
  transition: opacity 500ms;
}

// slide workgrid item

.slide {
  animation: slide 0.3s ease-in forwards;
}
@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: $on-palm) {
  .work-grid-item:nth-child(2n) {
    animation-delay: 0s;
  }
  .work-grid-item:nth-child(3n + 2) {
    animation-delay: 0.1s;
  }
  .work-grid-item:nth-child(3n) {
    animation-delay: 0.2s;
  }
}
@media (min-width: $on-tablet) {
  .work-grid-item:nth-child(3n + 2) {
    animation-delay: 0s;
  }
  .work-grid-item:nth-child(3n) {
    animation-delay: 0s;
  }
  .work-grid-item:nth-child(4n) {
    animation-delay: 0.3s;
  }
  .work-grid-item:nth-child(4n + 3) {
    animation-delay: 0.2s;
  }
  .work-grid-item:nth-child(4n + 2) {
    animation-delay: 0.1s;
  }
}

// weekmenu recepten per dag

.category-box {
  width: 100%;
  display: inline-block;
  ul {
    background-color: white;
    border: 2px solid #eee;
    margin-bottom: 2em;
  }
  li.hover {
    // background: #f9f9f9;
    a:hover {
      color: #0056b3;
      text-decoration: none;
    }
  }
  li.show-border {
    border-left: 2px solid #26abe2;
  }
  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h2 {
    font-size: 28px;
    background: #e1e4ef; // #ebeefb;
    padding: 7px 12px;
    margin: 0;
    font-weight: 500;
    border: 2px solid #eee;
    border-bottom: 0;
    a {
      font-size: 0.5em;
      float: right;
      padding: 7px 3px;
    }
  }
  h4.brand-color {
  }

  h4 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.03em;
    margin: 0;
    border: 1px solid #eee;
    // color: rgb(63,185,53);
    border-left: 0;
    border-right: 0;
    padding: 7px 12px;
    cursor: pointer;
    // transition: color .2s ease;
    span.soort {
      font-weight: 500;
      font-size: 16px;
    }
    span.name {
      font-weight: 500;
      font-size: 16px;
      color: rgb(172, 172, 172);
    }
    .aanbieding {
      display: inline;
      font-weight: 400 !important;
      // color: #e64b97 !important;
      color: magenta !important;
      font-size: 18px !important;
      span {
        color: silver;
      }
    }
  }
  h4:hover {
    // color: rgb(63,165,53);
    text-decoration: none;
  }
}
