/*------------------------------------*\
  #BASICS-TYPO
\*------------------------------------*/
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_100-webfont.woff") format("woff"),
    url("../fonts/MuseoSans_100-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_300-webfont.woff") format("woff"),
    url("../fonts/MuseoSans_300-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_500-webfont.woff") format("woff"),
    url("../fonts/MuseoSans_500-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_700-webfont.woff") format("woff"),
    url("../fonts/MuseoSans_700-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_900-webfont.woff") format("woff"),
    url("../fonts/MuseoSans_900-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.display-none {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.w-initial {
  width: initial;
}

.active {
  color: black;
}

.mono {
  font-family: $mono;
}
#mono {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.1s;
}

p,
b,
strong,
a {
  line-height: 1.6;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 42px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    font-size: 42px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 21px;
  }
}

p,
li {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 1em;
}

b {
  font-weight: 700;
  font-size: 1em;
}

li {
  list-style: none;
}

strong {
  font-weight: 700;
}

button,
input {
  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}

.tracking-015 {
  letter-spacing: 0.15em;
}

.hetkookt_logo {
  background: linear-gradient(to right, #b30104 0%, red 50%, #ff6a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-letter {
  p::first-letter {
    font-size: 21px;
    font-weight: 700;
    // color: black;
  }
  p:hover {
    color: red;
  }
}

.border-silver {
  border: 1px solid silver;
}
